<%- if @user.new_record? %>
  <p>
  <%= form.label :login, 'Username' %><br />
  <%= form.text_field :login %><br />
  </p>
<% end %>  
<p>
<%= form.label :email %><br />
<%= form.text_field :email %><br />
</p>
<p>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
</p>
<p>
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
</p>
<p>
<%= form.check_box :chat_enabled %> <%= form.label :chat_enabled, 'Allow user to talk in chat room' %>
</p>
<% if current_user.admin? %>
    <%= form.label :suspend_until %>
    <%= form.text_field :suspend_until %>
<% end %>