<div class="content">
  <h2>Editing <%=h @user.login %></h2>

  <% form_for @user, :url => user_path(@user) do |f| %>
    <p>
      <%= f.error_messages %>
    </p>
    <%= render :partial => "form", :object => f %>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
  <p>
  <%= link_to "Play Chess Now", root_path %>
  </p>
</div>