<div class="content">
  <h2>Reset My Password</h2>

  <% form_for @user, :url => reset_password_user_path(@user, :token => params[:token]) do |f| %>
    <p>
      <%= f.error_messages %>
    </p>
    <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
    </p>
    <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>