<table cellpadding="0" cellspacing="30"><tr valign="top"><td>
<div class="content" style="height: 100%">
  <h2>Sign In</h2>

  <% form_for @user_session, :url => user_session_path do |f| %>
    <% if @user_session.errors.any? %>
      <h4><%= pluralize @user_session.errors.count, "error" %> prevented sign in:</h4>
      <ul>
        <% @user_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= f.label :login, 'Username' %><br />
      <%= f.text_field :login %><br />
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %><br />
    </p>
    <p>
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
    </p>
    <p>
      <%= f.submit "Sign In" %>
    </p>
  <% end %>
  <p>
    <%= link_to 'Sign Up', new_user_path %>
  </p>
  <p>
    <%= link_to 'Reset My Password', request_password_reset_users_path %>
  </p>
</div>
</td><td>
<div class="content" style="font-size:0.8em">
  <p><b>Note:</b> To improve the security of our systems, we've recently added the requirement to confirm your email address before logging in. If you signed up before we did so, you will receive an email with a link to click to confirm your address.</p><p>If you signed up with an incorrect email address and are unable to confirm, your login will be deleted after 7 days. At that point you will then be able to sign up again with your correct email address. If you choose your old username when you sign up, you will keep your old rating.</p>
  
  <h2>Who should register?</h2>

  <h3>Kids</h3>
  <p>If you are under 16 please register with a nickname/username such as "Zoiper" or "SwissGambit". Please do NOT use your real name. We welcome all players under the age of 16 to join the Chess Kids community.</p>
  <p>While on the site please don't use your real name or give away any personal information.</p>

  <h3>Teachers, Parents and Coaches</h3>
  <p>You are welcome to register and join in the fun! The only thing we require is that your username includes your REAL NAME (eg. CarlGorka, SarahA, MissKenny).</p>

  <p>If you are an adult who wishes to play chess and not part of the Chess Kids community we respectfully suggest that you play at <a href="http://mychess.com/">MyChess.com</a> or one of the many other online game sites.</p>


  <h2>Safety</h2>

  <p>We have a number of controls in place at the moment and more to follow to ensure safety of our users.</p>
  <p>1. You have the option to disable chat on your account, it can be enabled at a later time by talking to an admin</p>
  <p>2. All chat is being recorded and will be reviewed! All IP addresses are recorded and anyone who abuses the system or another player will be followed up in the REAL WORLD! If we receive any complaints about users we will follow up in the REAL WORLD!</p>
  <p>3. Certain words are banned in the chat box and will result in instant disconnection and even account closure</p>
  <p>4. A supervisor will be online keeping an eye on things as much as possible (usually 4-8pm Melbourne time, and eventually more often)</p>


  <p>This is YOUR site, please help to keep it safe by reporting any inappropriate behaviour! Email to <a href="mailto://info@chesskids.com.au">info@chesskids.com.au</a>.</p>
</div>  
</td></tr></table>