<!doctype html>
<head>
    <title>Chess Kids Live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag 'swfobject' %>
    <%= stylesheet_link_tag 'style' %>
</head>
<body>
  <div class="wrapper">
    <h1><%= link_to 'Chess Kids Live', root_path %></h1>
    <div class="login">
      <% if current_user %>
          Signed in as <%= current_user.login %>.
          <%= link_to 'Settings', edit_account_path %>,
          <%= link_to 'Sign Out', sign_out_path %>
      <% end %>
    </div>  
    <div class="main">
      <% if flash.count > 0 %>
        <div class="content">
        <% flash.each do |key, message| %>
          <p><%= message %></p>
        <% end %>
        </div>
      <% end %>    
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <a href="http://www.chesskids.com.au/">
        Online play brought to you by Chess Kids &mdash; 1300-4-CHESS
      </a>
    </div>
  </div>
  
  <!-- Begin Olark Chat --><script type="text/javascript">(function(){document.write(unescape('%3Cscript src=%27' + (document.location.protocol == 'https:' ? "https:" : "http:") + '//static.olark.com/js/wc.js%27 type=%27text/javascript%27%3E%3C/script%3E'));})();</script><div id="olark-data"><a class="olark-key" id="olark-7051-203-10-3733" title="Powered by Olark" href="http://olark.com/about" rel="nofollow">Powered by Olark</a></div> <script type="text/javascript"> wc_init();</script><!-- /End Olark Chat -->
</body>
