<!doctype html>
<head>
    <title>Chess Kids Live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag 'swfobject' %>
</head>
<body>
    <h1>Chess Kids Live</h1>
    <% if flash.count > 0 %>
      <ul>
      <% flash.each do |key, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
    <% if current_user %>
      <p>
        Signed in as <%= current_user.login %>.
        <%= link_to 'Sign Out', sign_out_path %>
      </p>
    <% end %>
    <%= yield %>
</body>
